*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
@font-face {
    font-family: nexa;
    src: url(/fontes/Nexa-Heavy.ttf);
}
.first-content{
    display: flex;
    width: 100%;
    background-color: rgb(53, 224, 90);
}

.first-column{
    display: flex;
    align-content: center;
    justify-content: center;

}
.second-content{
    display: inline;
    align-content: center;
    justify-content: center;
    width: 1250px;
    padding-left: 25%;

}
.second-content input{
    border: none;
    border-radius: 10px;
    height: 50%;
    width: 60%;
    padding-left: 10px;
    
}
.favorito{
    display: flex;
    height: 33px;
    margin-top: 21px;
    background-color: transparent; 
    border: none; 
    color: rgb(196, 111, 0);
    cursor: pointer;

    
}

.third-column{
    width: 109px;

    align-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
   
    
}

.submit{
    margin-left: -30px;
    color: rgb(52, 137, 40);
    
}
.saudacao{
    display: flex;
    font-family: nexa;
    margin-top: 6%;
    width:  1300px;
    margin-left: 8%;
    padding: 10px;
    border-radius: 10px;
    height: 90%;
    font-size: 35px;
    background-color: rgb(53, 224, 90);
    color: rgb(255, 255, 255);
    padding-bottom: 20px;

    
    
}
.texto2{
    padding-top: 20px;
}
.tiposdemedicamentos{
    
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}



h3{
    font-size: 20px;
}